@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes liking {
  from {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  20% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #FF79DA), color-stop(20%, #fff));
    background: linear-gradient(to top, #FF79DA 20%, #fff 20%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  40% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #FF79DA), color-stop(40%, #fff));
    background: linear-gradient(to top, #FF79DA 40%, #fff 40%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  60% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #FF79DA), color-stop(60%, #fff));
    background: linear-gradient(to top, #FF79DA 60%, #fff 60%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  80% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #FF79DA), color-stop(80%, #fff));
    background: linear-gradient(to top, #FF79DA 80%, #fff 80%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes liking {
  from {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  20% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #FF79DA), color-stop(20%, #fff));
    background: linear-gradient(to top, #FF79DA 20%, #fff 20%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  40% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #FF79DA), color-stop(40%, #fff));
    background: linear-gradient(to top, #FF79DA 40%, #fff 40%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  60% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #FF79DA), color-stop(60%, #fff));
    background: linear-gradient(to top, #FF79DA 60%, #fff 60%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  80% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #FF79DA), color-stop(80%, #fff));
    background: linear-gradient(to top, #FF79DA 80%, #fff 80%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
}

body, .head-h1 {
  font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

li {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.btn {
  font-weight: 550;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 4px 0px gray;
          box-shadow: 2px 2px 4px 0px gray;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms, delay 600ms;
  transition: all 300ms, delay 600ms;
}

.btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: radial-gradient(circle, #FF79DA 0%, #9356DC 100%);
  -webkit-filter: drop-shadow(0px 0px 3px #FF79DA);
          filter: drop-shadow(0px 0px 3px #FF79DA);
  -webkit-box-shadow: 2px 2px 10px 2px #9356DC;
          box-shadow: 2px 2px 10px 2px #9356DC;
}

header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .back-index {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
}

header .logo {
  width: 200px;
  height: 40px;
  position: relative;
}

header .logo img {
  width: 100%;
}

footer {
  background-color: #424141;
  margin-top: -80px;
  height: 200px;
}

footer .logo {
  margin: 10px;
  margin-bottom: -10px;
  width: 30%;
}

footer .color-logo {
  fill: white;
}

footer ul {
  height: 150px;
  padding-left: 10px;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  color: #fff;
}

footer ul li a i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.navigation .position {
  background: #a8a7a7;
  border-top: 2px solid darkgray;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .position i {
  margin-right: 10px;
}

.navigation .description {
  height: 300px;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .description h1 {
  width: 65%;
  text-align: center;
}

.navigation .description p {
  width: 70%;
  text-align: center;
}

.head-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  margin-top: 50px;
}

.head-section h2 {
  width: 80%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 30px;
}

ul {
  padding: 0px;
}

.app-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 3px 3px 5px 2px lightgray;
          box-shadow: 3px 3px 5px 2px lightgray;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.app-work__number {
  color: #fff;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  display: block;
  margin-left: -10px;
  text-align: center;
}

.app-work__icons {
  color: #423f3f;
  margin-left: 30px;
  width: 20px;
  text-align: center;
}

.app-work__txt {
  margin-left: 40px;
  width: 200px;
}

.app-work:hover {
  background-color: rgba(146, 86, 220, 0.156);
}

.app-work:hover .app-work__icons {
  color: #9356DC;
}

.mid-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 180px;
}

.mid-section h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 30px;
}

.cards {
  width: 90%;
  height: 250px;
  padding: 0px;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 8px 5px 5px 2px lightgray;
          box-shadow: 8px 5px 5px 2px lightgray;
}

.cards__link--pictures {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 30px 30px 0px 0px;
}

.cards__link--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-top: 0px;
  width: 100%;
  height: 70px;
}

.cards__link--text h3, .cards__link--text p {
  height: 20px;
  width: 80%;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.cards__link--text .custom-checkbox input[type="checkbox"],
.cards__link--text .custom-checkbox .checked {
  display: none;
}

.cards__link--text .custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.cards__link--text .custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.cards__link--text .custom-checkbox {
  width: 35px;
  height: 35px;
  margin-left: 88%;
  margin-top: -55px;
}

.cards__link--text .custom-checkbox .unchecked, .cards__link--text .custom-checkbox .checked {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.cards__link--text .custom-checkbox .unchecked {
  color: #f2f2f2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 0px 4px black);
          filter: drop-shadow(0px 0px 4px black);
}

.cards__link--text .custom-checkbox .checked {
  -webkit-animation: liking 200ms;
          animation: liking 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 8px #FF79DA);
          filter: drop-shadow(0px 0px 8px #FF79DA);
}

.new-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

.new-restaurant span {
  background-color: #99E2D0;
  color: green;
  position: absolute;
  right: 5%;
  top: 20%;
  font-size: 1.1rem;
  text-align: center;
  width: 80px;
  height: 30px;
  padding-top: 3px;
}

.background {
  overflow: hidden;
  height: 250px;
}

.background__image {
  width: 100%;
  height: 250px;
}

.main-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1500px;
  bottom: 80px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
}

.main-menu h1 {
  position: absolute;
  left: 20px;
  top: 10px;
}

.main-menu .custom-checkbox input[type="checkbox"],
.main-menu .custom-checkbox .checked {
  display: none;
}

.main-menu .custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.main-menu .custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.main-menu .custom-checkbox {
  position: absolute;
  left: 85%;
  top: 30px;
}

.main-menu .custom-checkbox .unchecked, .main-menu .custom-checkbox .checked {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.main-menu .custom-checkbox .unchecked {
  color: #f2f2f2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 0px 4px black);
          filter: drop-shadow(0px 0px 4px black);
}

.main-menu .custom-checkbox .checked {
  -webkit-animation: liking 200ms;
          animation: liking 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 8px #FF79DA);
          filter: drop-shadow(0px 0px 8px #FF79DA);
}

.menu-choice {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-choice__head {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: relative;
}

.menu-choice__head h2 {
  padding-left: 10px;
  text-transform: uppercase;
}

.menu-choice__head .green-line {
  position: absolute;
  left: 10px;
  bottom: 15px;
  height: 3px;
  background-color: #99E2D0;
  -webkit-animation: anim-line 900ms 1000ms ease-in both;
          animation: anim-line 900ms 1000ms ease-in both;
}

@-webkit-keyframes anim-line {
  0% {
    width: 0px;
    opacity: 0.1;
  }
  50% {
    width: 30px;
    opacity: 0.5;
  }
  80% {
    width: 50px;
    opacity: .9;
  }
  100% {
    width: 60px;
    opacity: 1;
  }
}

@keyframes anim-line {
  0% {
    width: 0px;
    opacity: 0.1;
  }
  50% {
    width: 30px;
    opacity: 0.5;
  }
  80% {
    width: 50px;
    opacity: .9;
  }
  100% {
    width: 60px;
    opacity: 1;
  }
}

.dish-container {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  height: 80px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dish-container__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  width: 90%;
  height: 80px;
  white-space: nowrap;
  overflow-x: hidden;
}

.dish-container__txt h3, .dish-container__txt p {
  margin: 0px;
  padding-left: 15px;
  padding-top: 4px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.dish-container__txt h3 {
  font-size: 1.1rem;
}

.dish-container__txt p {
  font-size: 0.9rem;
}

.dish-container__price {
  padding-top: 40px;
  font-weight: bold;
  width: 50px;
}

.dish-container__check {
  border-radius: 0px 20px 20px 0px;
  color: #fff;
  width: 0px;
  height: 80px;
  opacity: 0;
  -webkit-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: all 300ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.32, 0, 0.07, 1);
}

.dish-container__check .fa-check-circle {
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.dish-container:hover .dish-container__check {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background-color: #99E2D0;
  padding: 30px;
  width: 90px;
}

.dish-container:hover .dish-container__check .fa-check-circle {
  -webkit-animation: anim-circle 300ms ease-in both;
          animation: anim-circle 300ms ease-in both;
}

@-webkit-keyframes anim-circle {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.5) rotate(180deg);
            transform: scale(1.5) rotate(180deg);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(1.8) rotate(360deg);
            transform: scale(1.8) rotate(360deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: scale(2) rotate(540deg);
            transform: scale(2) rotate(540deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.2) rotate(720deg);
            transform: scale(2.2) rotate(720deg);
    opacity: 1;
  }
}

@keyframes anim-circle {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.5) rotate(180deg);
            transform: scale(1.5) rotate(180deg);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(1.8) rotate(360deg);
            transform: scale(1.8) rotate(360deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: scale(2) rotate(540deg);
            transform: scale(2) rotate(540deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.2) rotate(720deg);
            transform: scale(2.2) rotate(720deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */