@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes liking {
  0% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  20% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #FF79DA), color-stop(20%, #fff));
    background: linear-gradient(to top, #FF79DA 20%, #fff 20%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  40% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #FF79DA), color-stop(40%, #fff));
    background: linear-gradient(to top, #FF79DA 40%, #fff 40%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  60% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #FF79DA), color-stop(60%, #fff));
    background: linear-gradient(to top, #FF79DA 60%, #fff 60%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  70% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #FF79DA), color-stop(70%, #fff));
    background: linear-gradient(to top, #FF79DA 70%, #fff 70%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes liking {
  0% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  20% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #FF79DA), color-stop(20%, #fff));
    background: linear-gradient(to top, #FF79DA 20%, #fff 20%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  40% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #FF79DA), color-stop(40%, #fff));
    background: linear-gradient(to top, #FF79DA 40%, #fff 40%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  60% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #FF79DA), color-stop(60%, #fff));
    background: linear-gradient(to top, #FF79DA 60%, #fff 60%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  70% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #FF79DA), color-stop(70%, #fff));
    background: linear-gradient(to top, #FF79DA 70%, #fff 70%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
}

body {
  width: 100%;
  margin: auto;
}

body, .head-h1 {
  font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

li {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.block-page {
  width: 99%;
  margin: auto;
}

@media all and (min-width: 520px) {
  .block-page {
    width: 90%;
    margin: auto;
  }
  .background, .main-menu {
    width: 75%;
    margin: auto;
  }
}

@media all and (min-width: 1670px) {
  .block-page {
    width: 50%;
    margin: auto;
  }
}

.btn {
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 4px 0px gray;
          box-shadow: 2px 2px 4px 0px gray;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.btn:hover, .btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
  background: radial-gradient(circle, #FF79DA 0%, #9356DC 100%);
  -webkit-filter: drop-shadow(0px 0px 2px #FF79DA);
          filter: drop-shadow(0px 0px 2px #FF79DA);
  -webkit-box-shadow: 2px 2px 4px 1px #9356DC;
          box-shadow: 2px 2px 4px 1px #9356DC;
}

header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .back-index {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
}

header .logo {
  width: 200px;
  height: 40px;
  position: relative;
}

header .logo img {
  width: 100%;
}

@media all and (min-width: 520px) {
  header {
    width: 75%;
    margin: auto;
  }
}

@media all and (min-width: 1440px) {
  header {
    width: 60%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #424141;
  width: auto;
  margin-top: -80px;
  height: 200px;
}

footer .logo {
  margin: 20px;
  margin-bottom: -10px;
}

footer .color-logo {
  fill: white;
}

footer ul {
  height: 150px;
  margin: 20px;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  color: #fff;
}

footer ul li a i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

@media all and (min-width: 520px) {
  footer {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30%;
  }
}

@media all and (min-width: 1440px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0%;
  }
}

.navigation .position {
  background: #a8a7a7;
  border-top: 2px solid darkgray;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .position i {
  margin-right: 10px;
}

.navigation .description {
  height: 300px;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .description h1 {
  width: 65%;
  text-align: center;
}

.navigation .description p {
  width: 70%;
  text-align: center;
}

.head-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  margin-top: 50px;
}

.head-section h2 {
  width: 80%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 30px;
}

ul {
  padding: 0px;
}

.main-operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 3px 3px 5px 2px lightgray;
          box-shadow: 3px 3px 5px 2px lightgray;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.main-operation__number {
  color: #fff;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  display: block;
  margin-left: -10px;
  text-align: center;
}

.main-operation__icons {
  color: #423f3f;
  margin-left: 30px;
  width: 20px;
  text-align: center;
}

.main-operation__txt {
  margin-left: 40px;
  width: 200px;
}

.main-operation:hover {
  background-color: rgba(146, 86, 220, 0.156);
}

.main-operation:hover .main-operation__icons {
  color: #9356DC;
}

.Load-container {
  width: 110px;
  margin: auto;
  margin-top: 300px;
  z-index: -1;
  -webkit-animation: fade-out 2000ms 2200ms both;
          animation: fade-out 2000ms 2200ms both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.border {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: conic-gradient(#99E2D0, #FF79DA, #9356DC);
  animation: animate 1200ms 300ms linear reverse 2;
}

.border:after {
  content: '';
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 60px;
  background: #f2f2f2;
  border: solid #99E2D0 1px;
  border-radius: 50%;
}

.loader {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#9356DC, #99E2D0, #FF79DA);
  -webkit-animation: animate 1500ms 300ms linear 2;
          animation: animate 1500ms 300ms linear 2;
}

.loader:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  bottom: 20px;
  background: #f2f2f2;
  border: solid #99E2D0 1px;
  border-radius: 50%;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: drop-shadow(0px 0px 5px #99E2D0);
            filter: drop-shadow(0px 0px 5px #99E2D0);
    opacity: .5;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: drop-shadow(0px 0px 15px #FF79DA);
            filter: drop-shadow(0px 0px 15px #FF79DA);
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    -webkit-filter: drop-shadow(0px 0px 10px #9356DC);
            filter: drop-shadow(0px 0px 10px #9356DC);
    opacity: .9;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: drop-shadow(0px 0px 5px #99E2D0);
            filter: drop-shadow(0px 0px 5px #99E2D0);
    opacity: .5;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: drop-shadow(0px 0px 15px #FF79DA);
            filter: drop-shadow(0px 0px 15px #FF79DA);
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    -webkit-filter: drop-shadow(0px 0px 10px #9356DC);
            filter: drop-shadow(0px 0px 10px #9356DC);
    opacity: .9;
  }
}

.after-load {
  z-index: 1;
  margin: auto;
  margin-top: -430px;
  width: auto;
  -webkit-animation: fade-in 3000ms 3000ms both;
          animation: fade-in 3000ms 3000ms both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: landscape) {
  .Load-container {
    margin-top: 250px;
  }
  .after-load {
    margin-top: -350px;
  }
}

.mid-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 180px;
}

.mid-section h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 30px;
}

.cards {
  width: 90%;
  height: 250px;
  padding: 0px;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 8px 5px 5px 2px lightgray;
          box-shadow: 8px 5px 5px 2px lightgray;
}

.cards__pictures {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 30px 30px 0px 0px;
}

.cards__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 0px;
  width: 100%;
  height: 70px;
}

.cards__text h3, .cards__text p {
  display: inline-block;
  height: 30px;
  width: 250px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.cards__text h3 {
  margin-top: 5px;
}

.cards__text p {
  margin-top: 0px;
}

.cards__text .custom-checkbox input[type="checkbox"],
.cards__text .custom-checkbox .checked {
  display: none;
}

.cards__text .custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.cards__text .custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.cards__text .custom-checkbox {
  width: 35px;
  height: 35px;
  margin-left: 88%;
  margin-top: -55px;
}

.cards__text .custom-checkbox .unchecked, .cards__text .custom-checkbox .checked {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.cards__text .custom-checkbox .unchecked {
  color: #f2f2f2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 0px 4px black);
          filter: drop-shadow(0px 0px 4px black);
}

.cards__text .custom-checkbox .checked {
  -webkit-animation: liking 200ms;
          animation: liking 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 8px #FF79DA);
          filter: drop-shadow(0px 0px 8px #FF79DA);
}

.new-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

.new-restaurant span {
  background-color: #99E2D0;
  color: green;
  position: absolute;
  right: 5%;
  top: 20%;
  font-size: 1.1rem;
  text-align: center;
  width: 80px;
  height: 30px;
  padding-top: 3px;
}

@media all and (min-width: 520px) {
  .mid-section {
    width: 60%;
    margin: auto;
  }
}

@media all and (min-width: 790px) {
  .mid-section {
    width: 60%;
    margin: auto;
  }
  .mid-section .cards {
    width: 400px;
  }
}

@media all and (min-width: 1440px) {
  .mid-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 80%;
  }
  .mid-section h2 {
    width: 100%;
  }
  .cards {
    width: 400px;
  }
}

.background {
  height: 300px;
}

.background__image {
  width: 100%;
  height: 250px;
}

.main-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1500px;
  bottom: 80px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
}

.main-menu h1 {
  position: absolute;
  left: 20px;
  top: 10px;
}

.main-menu .custom-checkbox input[type="checkbox"],
.main-menu .custom-checkbox .checked {
  display: none;
}

.main-menu .custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.main-menu .custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.main-menu .custom-checkbox {
  position: absolute;
  left: 85%;
  top: 30px;
}

.main-menu .custom-checkbox .unchecked, .main-menu .custom-checkbox .checked {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.main-menu .custom-checkbox .unchecked {
  color: #f2f2f2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: drop-shadow(0px 0px 4px black);
          filter: drop-shadow(0px 0px 4px black);
}

.main-menu .custom-checkbox .checked {
  -webkit-animation: liking 200ms;
          animation: liking 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 8px #FF79DA);
          filter: drop-shadow(0px 0px 8px #FF79DA);
}

.menu-choice {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-choice__head {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: relative;
}

.menu-choice__head h2 {
  padding-left: 10px;
  text-transform: uppercase;
}

.menu-choice__head .green-line {
  position: absolute;
  left: 10px;
  bottom: 15px;
  height: 3px;
  background-color: #99E2D0;
  -webkit-animation: anim-line 900ms 1000ms ease-in both;
          animation: anim-line 900ms 1000ms ease-in both;
}

@-webkit-keyframes anim-line {
  0% {
    width: 0px;
    opacity: 0.1;
  }
  50% {
    width: 30px;
    opacity: 0.5;
  }
  80% {
    width: 50px;
    opacity: .9;
  }
  100% {
    width: 60px;
    opacity: 1;
  }
}

@keyframes anim-line {
  0% {
    width: 0px;
    opacity: 0.1;
  }
  50% {
    width: 30px;
    opacity: 0.5;
  }
  80% {
    width: 50px;
    opacity: .9;
  }
  100% {
    width: 60px;
    opacity: 1;
  }
}

.dish-container {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px 10px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  height: 80px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dish-container__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  width: 90%;
  height: 80px;
  white-space: nowrap;
  overflow-x: hidden;
}

.dish-container__txt h3, .dish-container__txt p {
  margin: 0px;
  padding-left: 15px;
  padding-top: 4px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.dish-container__txt h3 {
  font-size: 1.1rem;
}

.dish-container__txt p {
  font-size: 0.9rem;
}

.dish-container__price {
  padding-top: 40px;
  font-weight: bold;
  width: 50px;
}

.dish-container__check {
  border-radius: 0px 20px 20px 0px;
  color: #fff;
  width: 0px;
  height: 80px;
  opacity: 0;
  -webkit-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: all 300ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.32, 0, 0.07, 1);
}

.dish-container__check .fa-check-circle {
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.dish-container:hover .dish-container__check {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background-color: #99E2D0;
  padding: 30px;
  width: 90px;
}

.dish-container:hover .dish-container__check .fa-check-circle {
  padding-left: 2px;
  -webkit-animation: anim-circle 300ms ease-in both;
          animation: anim-circle 300ms ease-in both;
}

@-webkit-keyframes anim-circle {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.5) rotate(90deg);
            transform: scale(1.5) rotate(90deg);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(1.8) rotate(180deg);
            transform: scale(1.8) rotate(180deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: scale(2) rotate(270deg);
            transform: scale(2) rotate(270deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.2) rotate(360deg);
            transform: scale(2.2) rotate(360deg);
    opacity: 1;
  }
}

@keyframes anim-circle {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.5) rotate(90deg);
            transform: scale(1.5) rotate(90deg);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: scale(1.8) rotate(180deg);
            transform: scale(1.8) rotate(180deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: scale(2) rotate(270deg);
            transform: scale(2) rotate(270deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.2) rotate(360deg);
            transform: scale(2.2) rotate(360deg);
    opacity: 1;
  }
}

.appear-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dish-container:nth-child(1) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: fadein 1000ms  1000ms ease-in-out both;
          animation: fadein 1000ms  1000ms ease-in-out both;
}

.dish-container:nth-child(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: fadein 1000ms  1200ms ease-in-out both;
          animation: fadein 1000ms  1200ms ease-in-out both;
}

.dish-container:nth-child(3) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: fadein 1000ms  1400ms ease-in-out both;
          animation: fadein 1000ms  1400ms ease-in-out both;
}

.dish-container:nth-child(4) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: fadein 1000ms  1600ms ease-in-out both;
          animation: fadein 1000ms  1600ms ease-in-out both;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media all and (min-width: 1440px) {
  .background, .main-menu {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */