@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body, .head-h1 {
  font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

li {
  list-style-type: none;
}

.block-page {
  width: auto;
}

a {
  text-decoration: none;
  color: black;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  border: 1px solid #e46e6e;
}

header .logo {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 50%;
}

.head-section {
  height: 340px;
}

.head-section h2 {
  width: 95%;
}

ul {
  padding: 0px;
}

.app-work {
  border-radius: 20px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 3px 3px 5px 2px lightgray;
          box-shadow: 3px 3px 5px 2px lightgray;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.app-work__number {
  color: #fff;
  background-color: #9356DC;
  width: 29px;
  height: 25px;
  border-radius: 40px;
  display: block;
  margin-left: -10px;
  text-align: center;
  padding-top: 4px;
}

.app-work__icons {
  color: #423f3f;
  margin-left: 30px;
  width: 20px;
  text-align: center;
}

.app-work__txt {
  margin-left: 40px;
  width: 200px;
}

.app-work:hover {
  background-color: rgba(146, 86, 220, 0.156);
}

.app-work:hover .app-work__icons {
  color: #9356DC;
}

.mid-section {
  background-color: #f2f2f2;
  height: 180vh;
}

.restaurants {
  width: 90%;
  height: 280px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 8px 5px 5px 2px lightgray;
          box-shadow: 8px 5px 5px 2px lightgray;
}

.restaurants__link--pictures {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 30px 30px 0px 0px;
}

span {
  background-color: #99E2D0;
  position: relative;
  left: 260px;
  bottom: 140px;
  z-index: 1;
  font-size: 4vw;
  padding: 2vw;
}

footer {
  background-color: #424141;
  height: 200px;
}

footer .logo {
  margin: 10px;
  margin-bottom: -10px;
  width: 30%;
}

footer .color-logo {
  fill: white;
}

footer ul {
  height: 150px;
  padding-left: 10px;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  color: #fff;
}

footer ul li a i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */