footer {
    background-color: rgb(66, 65, 65);
    margin-top: -80px;
    height: 200px;
    .logo {
        margin: 10px;
        margin-bottom: -10px;
        width: 30%;
    }

    .color-logo {
        fill: white;
    }

    ul {
        height: 150px;
        padding-left: 10px;
        li {
            margin-bottom: 15px;
            a {
                color: #fff;
                i {
                    width: 20px;
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }
    }
}
