.footer-menu {
    margin-top: -85px;
}

footer {
    @include column-flex();
    align-items: flex-start;
    background-color: rgb(66, 65, 65);
    height: 200px;
    .logo {
        margin: 20px;
        margin-bottom: -10px;
        width: 100px;
    }
    .color-logo {
        fill: white;
    }
    ul {
        height: 150px;
        margin-left: 20px;
        li {
            margin-bottom: 10px;
            a, i {
                width: 20px;
                color: #fff;
            }
            i {
                text-align: start;
                font-size: 0.8rem;
                margin-right: 5px;
            }
        }
    }
}