footer {
    @include column-flex();
    align-items: flex-start;
    background-color: rgb(66, 65, 65);
    width: auto;
    margin-top: -80px;
    height: 200px;
    .logo {
        margin: 20px;
        margin-bottom: -10px;
    }

    .color-logo {
        fill: white;
    }

    ul {
        height: 150px;
        margin: 20px;
        li {
            margin-bottom: 15px;
            a {
                color: #fff;
                i {
                    width: 20px;
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media all and (min-width: 520px) {
    footer {
        margin-top: $margin-section;
        @include column-flex();
        padding-right: 30%;
    }
}

@media all and (min-width: 1440px) {
    footer {
        @include column-flex();
        padding-right: 0%;
    }
}
