header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .back-index {
        position: absolute;
        left: 10px;
        width: 40px;
        height: 25px;
        text-align: center;
        padding-top: 10px;
    }
    .logo {
        width: 200px;
        height: 40px;
        position: relative;
        img {
            width: 100%;
        }
    }
}