header {
    height: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    .back-index {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 20px;
    }
    .logo {
        width: 160px;
        height: 45px;
        position: absolute;
        top: 20px;
        img {
            width: 100%;
        }
    }
}

@media all and (min-width: 520px) {
    header {
        margin: auto;
    }
}
@media all and (min-width: 1440px) {
    header {
        width: 70%;
    }

}