// page restaurant image-bg
.background {
    height: 300px;
    &__image {
        width: 100%;
        height: 250px;
    }
}

.main-menu {
    position: relative;
    @include column-flex();
    height: 1500px;
    bottom: 80px;
    background-color: $bg-color;
    border-radius: 40px 40px 0px 0px;
    h1 {
        position: absolute;
        left: 20px;
        top: 10px;
    }
    @include hearts-chekbox();
    .custom-checkbox {
        position: absolute;
        left: 85%;
        top: 30px;
        @include hearts-function();
    }
}

.menu-choice {
    width: 99%;
    @include column-flex();
    justify-content: flex-start;
    &__head {
        align-self: start;
        position: relative;
        h2 {
            padding-left: 10px;
            text-transform: uppercase;
        }
        .green-line {
            position: absolute;
            left: 10px;
            bottom: 15px;
            height: 3px;
            background-color: $terciary-color;
            animation: anim-line 900ms 1000ms ease-in both;
        }
    }
}

@keyframes anim-line{
    0% {
        width: 0px;
        opacity: 0.1;
    }
    50% {
        width: 30px;
        opacity: 0.5;
    }
    80% {
        width:50px;
        opacity: .9;
    }
    100% {
        width: 60px;
        opacity: 1;
    }
}

.dish-container {
    // border: 1px solid red;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px gray;
    height: 80px;
    width: 95%;
    display: flex;
    &__txt {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding-top: 10px;
        width: 90%;
        height: 80px;
        white-space: nowrap;
        overflow-x: hidden;
        h3, p {
            margin: 0px;
            padding-left: 15px;
            padding-top: 4px;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        h3 {
            font-size: 1.1rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
    &__price {
        padding-top: 40px;
        font-weight: bold;
        width: 50px;
    }
    &__check {
        border-radius:0px 20px 20px 0px;
        color: #fff;
        width: 0px;
        height: 80px;
        opacity: 0;
        transform: translate(0px);
        transition: all 300ms cubic-bezier(.32,0,.07,1);
        .fa-check-circle {
            opacity: 0;
            transition: all 500ms;
        }
    }
    &:hover .dish-container__check {
        opacity: 1;
        transform: translateX(0px);
        background-color: $terciary-color;
        padding: 30px;
        width: 90px;
        .fa-check-circle {
            padding-left: 2px;
            animation: anim-circle 300ms ease-in both;
        }
    }
}

@keyframes anim-circle {
    0% {
        transform:  scale(1) rotate(0deg);
        opacity: 0;
    }
    25% {
        transform: scale(1.5) rotate(90deg);
        opacity: 0.4;
    }

    50% {
        transform: scale(1.8) rotate(180deg);
        opacity: 0.7;
    }

    75% {
        transform: scale(2) rotate(270deg);
        opacity: 1;
    }

    100% {
        transform: scale(2.2) rotate(360deg);
        opacity: 1;
    }
}

