@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
}
body {
    width: 100%;
    margin: auto;
}

body, .head-h1 {
    font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

li {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}
.block-page {
    width: 99%;
    margin: auto;
}


@media all and (min-width: 520px) {
    .block-page {
        width: 90%;
        margin: auto;
    }

    .background, .main-menu {
        width: 75%;
        margin: auto;
    }
}

@media all and (min-width: 1670px) {
    .block-page {
        width: 50%;
        margin: auto;
    }
}