@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
}

body {
    width: 100%;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
}

body,
.head-h1 {
    font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

li {
    list-style-type: none;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

a {
    color: black;
}