@mixin row-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin column-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

// Heart
@mixin linear-gradient($percentage-color1, $percentage-color2) {
    background: $secondary-color;
    background: linear-gradient(to top, $secondary-color $percentage-color1, #fff $percentage-color2);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

@mixin hearts-chekbox {
    .custom-checkbox input[type="checkbox"],
    .custom-checkbox .checked {
    display: none;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
        display: none;
    }
}

@mixin hearts-function {
    .unchecked, .checked {
        width: 30px;
        height: 30px;
        font-size: 30px;
        cursor: pointer;
    }
    .unchecked {
        color: $bg-color;
        transform: scale(1);
        filter: drop-shadow(0px 0px 4px black);
    }
    .checked {
        animation: liking 200ms;
        animation-timing-function: linear;
        background: -webkit-linear-gradient( $primary-color, $secondary-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 8px $secondary-color);
    }
}
@keyframes liking{
    from {
        @include linear-gradient(0%, 0%);
    }
    20%{
        @include linear-gradient(20%, 20%);
    }
    40%{
        @include linear-gradient(40%, 40%);
    }
    60%{
        @include linear-gradient(60%, 60%);
    }
    80%{
        @include linear-gradient(80%, 80%);
    }
}



